<!DOCTYPE html>
<html>

<head>
    <title>Website RAG App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>Website Question Answering</h1>

    <input
        id="url"
        type="text"
        placeholder="Enter website URL">

    <br><br>

    <button onclick="indexWebsite()">
        Index Website
    </button>

    <div id="status"></div>

    <br><br>

    <input
        id="question"
        type="text"
        placeholder="Ask a question">

    <br><br>

    <button onclick="askQuestion()">
        Ask
    </button>

    <h3>Answer:</h3>

    <div id="answer"></div>

    <script src="/static/script.js"></script>

</body>

</html>