<!DOCTYPE html>
<html>

<head>
    <title>LLM QA App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>Ask Questions From Text</h1>

    <textarea
        id="context"
        rows="10"
        cols="80"
        placeholder="Paste text here">
    </textarea>

    <br><br>

    <input
        id="question"
        type="text"
        size="80"
        placeholder="Ask a question">

    <br><br>

    <button onclick="askQuestion()">
        Ask
    </button>

    <h3>Answer:</h3>

    <div id="answer"></div>

    <script src="/static/script.js"></script>

</body>

</html>